body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./pictures/repeat-image-reviews.jpg'); /* Replace with the actual path to your image */
    background-repeat: repeat; /* or 'repeat-x' for horizontal repeat, 'repeat-y' for vertical repeat */
    background-size:20%; /* Adjust as needed, 'cover' will make sure the image covers the entire body */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

form {
    display: grid;
    gap: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
